@model ArticleCreateModel
    
<form asp-action="Create" asp-controller="Article" asp-antiforgery="true" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="Title">Title</label>
        <input class="form-control" type="text" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Description">Short Description</label>
        <textarea class="form-control" rows="5" asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
</div>
    <div class="mb-3">
        <label class="form-label" asp-for="FullText">Text</label>
        <textarea class="form-control" rows="10" asp-for="FullText"></textarea>
        <span asp-validation-for="FullText"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="SourceID">Source</label>
        <select class="form-select" asp-for="SourceID" asp-items="@Model.AvailableSources"></select>
        <span asp-validation-for="SourceID"></span>
    </div>
    <input type="hidden" asp-for="AvailableSources"/>
    <div>
        <input id="confirmbutton" type="submit" value="Confirm" />        
        <a class="btn-outline-primary" asp-action="Index" asp-controller="Article" method="get" >Cancel</a>       
    </div>
</form>

 <style>
    .btn-outline-primary{
         margin: 10px;
         padding:10px;
         border:solid, 5px;
         border-radius: 5px;
        background-color: #041858;
        color:greenyellow;
        border-color: greenyellow;

     }
     #confirmbutton{
        margin: 10px;
        padding: 5px;
        border: solid, 5px;
        border-radius: 5px;
        background-color: #041858;
        color: greenyellow;
        border-color: greenyellow;
     }
     body{
        background: linear-gradient(#B7C1E1,#041858);
     }
     .form-control{
         background-color: lightgray;
        color: #041858;
     }

    .form-control:focus {
        background-color: greenyellow;
        color: #041858;
        
    }
     .form-select{
        background-color: lightgray;
     }
 </style>