@model ArticlesListModel
@addTagHelper *, AntonS

<form action="/Article/SearchedArticlesList"  method=Post class="form-text col-6 "  >
    @Html.TextBoxFor(model=>model.Searched)
    <input type="submit" value="Submit"/>
    @if(Context.User.Claims.Any() && Context.User.Identity.Name.Equals("Struzdymov@mail.ru"))
    {
        <a class="btn bg-primary col-6"   asp-action="Create" asp-controller="Article" >Create</a>
    }        
</form> 
<form class="dropdown" asp-action="Sort" asp-controller="Article" method="get">    
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Sort by...
  </button>
  <ul class="dropdown-menu">
    <li><input asp-for="SortBy" class="dropdown-item" type="submit" placeholder="1" value="By Descending"/></li>
    <li><input asp-for="SortBy" class="dropdown-item" type="submit" placeholder="2" value="By Ascending"/></li>    
  </ul>
</form>


<div class="row">
    @foreach (var ar in Model.Articles)
    {
        await Html.RenderPartialAsync("ArticleShortPartialView", ar);
    }
</div>

<pagination page-info="Model.pageInfo" page-action="Index">

</pagination>
<style>
    button{
        border-radius: 5px;
        color: black;
        background-color: #B8B8B8;
        border:hidden;
    }
    a.btn{
        background-color: #041858;
        color: greenyellow;
        border:solid, 2px;
        border-color: greenyellow;
    }
    a.btn.btn-outline-primary:hover{
        background-color: greenyellow;
        color: #041858;
    }
    a.btn.btn-outline-primary.active{
        background-color: greenyellow;
        color: #041858;
    }
    
</style>
    