@model ArticlesListModel
<h1>
    Pick article to edit comments
</h1>
<form asp-controller="Admin" asp-action="EditComments" method="get">
    <select asp-for="Id" class="form-select">
        <option selected>Pick entity to work with</option>
        @foreach (var article in Model.Articles)
        {
          <option value="@article.Id">@article.Title</option>
        }
    </select>
    <button class="btn btn-outline-secondary" type="submit" value="OK">Confirm</button>
</form>

<script src="~/js/selectFromList.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>